.history_wrapper {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 60px;
}
.history_wrapper h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 60px;
}

.date_filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  padding: 24px 40px;
  margin-bottom: 30px;
  background-color: var(--contrast-text);
}
.date_filters div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.date_filters div label {
  font-size: 14px;
  color: var(--text);
}
.date_filters div span button {
  display: none;
}
.date_filters div span input {
  padding: 6px;
}
.date_filters button {
  width: 190px;
  height: 35px;
  font-weight: 500;
  color: var(--contrast-text);
  background-color: var(--orange);
  border: 0;
}

/* TABLE */
.history_table table {
  border-collapse: collapse;
}
.history_table tr th:first-child {
  width: 250px;
}
.history_table tr th:last-child {
  width: 250px;
}
.history_table td,
.history_table th {
  border: 1px solid var(--light-gray);
  padding: 16px;
}
.history_table button {
  height: 26px;
  width: 21px;
  margin-right: 16px;
}
.history_table button:enabled:focus {
  outline: none;
  box-shadow: none;
}

/* EDIT MODAL */
.edit_modal {
  min-width: 400px;
  padding: 16px;
  background-color: var(--white);
}
.edit_modal h2 {
  margin-bottom: 16px;
}
.edit_modal textarea {
  width: 100%;
  padding: 6px;
}
.edit_modal_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}
.edit_modal_buttons button {
  font-size: 14px;
  padding: 5px 10px;
  color: var(--white);
  background-color: var(--orange);
  border: 0;
  border-radius: 3px;
}
.edit_modal_buttons button:last-child {
  background-color: var(--dark-blue);
}
