.history_wrapper {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 60px;
}
.history_wrapper h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 60px;
}

.date_filters {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 24px 40px;
  margin-bottom: 30px;
  background-color: var(--contrast-text);
}
.date_filters div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.date_filters div span button {
  display: none;
}
.date_filters button {
  width: 180px;
}

/* TABLE */
.history_table table {
  border-collapse: collapse;
}
.history_table tr th:first-child {
  width: 250px;
}
.history_table tr th:last-child {
  width: 250px;
}
.history_table td,
.history_table th {
  border: 1px solid var(--light-gray);
  padding: 16px;
}
.history_table button {
  height: 26px;
  width: 21px;
  margin-right: 16px;
}
.history_table button:enabled:focus {
  outline: none;
  box-shadow: none;
}
