:root {
  --dark-blue: #181846;
  --white: #ffffff;
  --light-gray: #ecedf5;
  --text: #5f6b8a;
  --contrast-text: #f9f9fd;
  --border-color: #c4c5d7;
  --orange: #ff5722;
  --light-red: #ffe6e6;
  --red: #e60000;
}
