.login_box {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 200px auto 0;
}
.login_form,
.login_register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background-color: var(--contrast-text);
}
.login_form h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
}
.login_form_input,
.login_form_submit {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 16px;
  margin-bottom: 24px;
  color: var(--text);
  background-color: var(--white);
  border: none;
  border-radius: 3px;
}
.login_form_input:focus {
  outline: none;
}
.login_form_submit {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}
.login_register {
  display: flex;
  flex-direction: row;
  height: 92px;
  padding: 16px;
  margin-top: 24px;
  overflow: hidden;
}
.login_register_img {
  position: relative;
  width: 160px;
  height: 92px;
}
.login_register img {
  position: absolute;
  bottom: -16px;
  left: 24px;
}
.login_register p {
  font-size: 18px;
  font-weight: 600;
  color: var(--text);
}
.login_register a {
  font-size: 14px;
  font-weight: 700;
  color: var(--orange);
  text-decoration: underline;
}
.error_message {
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  padding: 12px;
  border-radius: 3px;
  background-color: var(--light-red);
  color: var(--red);
}
